/* line 90, ../../assets/stylesheets/main.sass */
body {
  background-color: #DFE3ED; }
  /* line 92, ../../assets/stylesheets/main.sass */
  body .pagination-centered {
    text-align: center; }
    /* line 87, ../../assets/stylesheets/main.sass */
    body .pagination-centered h1 {
      margin: 15px auto; }
    /* line 60, ../../assets/stylesheets/main.sass */
    body .pagination-centered .posts-list-footer {
      font-weight: bold; }
      /* line 62, ../../assets/stylesheets/main.sass */
      body .pagination-centered .posts-list-footer .bb-block a {
        text-decoration: none;
        color: inherit; }
        /* line 64, ../../assets/stylesheets/main.sass */
        body .pagination-centered .posts-list-footer .bb-block a p {
          display: inline-block; }
      /* line 66, ../../assets/stylesheets/main.sass */
      body .pagination-centered .posts-list-footer .nanigation-panel {
        padding-bottom: 10px; }
    /* line 52, ../../assets/stylesheets/main.sass */
    body .pagination-centered .post {
      text-align: left;
      padding-bottom: 10px;
      display: flex; }
      /* line 36, ../../assets/stylesheets/main.sass */
      body .pagination-centered .post .main-post-part {
        float: left;
        display: inline-block;
        background-color: white; }
      /* line 8, ../../assets/stylesheets/main.sass */
      body .pagination-centered .post .post-img {
        margin-bottom: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto; }
        /* line 14, ../../assets/stylesheets/main.sass */
        body .pagination-centered .post .post-img img {
          max-width: 100%; }
      /* line 18, ../../assets/stylesheets/main.sass */
      body .pagination-centered .post .post-title {
        font-weight: bold;
        display: block; }
        /* line 21, ../../assets/stylesheets/main.sass */
        body .pagination-centered .post .post-title .post-title-text {
          display: inline-block;
          width: 79%; }
        /* line 24, ../../assets/stylesheets/main.sass */
        body .pagination-centered .post .post-title .post-title-id {
          display: inline-block;
          width: 20%;
          text-align: right; }
      /* line 42, ../../assets/stylesheets/main.sass */
      body .pagination-centered .post .post-side-panel {
        margin-left: 10px;
        display: inline-block; }
        /* line 45, ../../assets/stylesheets/main.sass */
        body .pagination-centered .post .post-side-panel .side-panel-pic {
          max-width: 100%;
          padding-bottom: 10px; }
          /* line 48, ../../assets/stylesheets/main.sass */
          body .pagination-centered .post .post-side-panel .side-panel-pic img {
            max-width: 100%; }
    /* line 72, ../../assets/stylesheets/main.sass */
    body .pagination-centered .post-form .files-attach .file-input {
      height: 100%; }
    /* line 78, ../../assets/stylesheets/main.sass */
    body .pagination-centered .posts-list {
      margin: 0 0 auto 25%;
      width: 62.5%; }
      /* line 81, ../../assets/stylesheets/main.sass */
      body .pagination-centered .posts-list .main-column {
        width: 80%; }
      /* line 83, ../../assets/stylesheets/main.sass */
      body .pagination-centered .posts-list .side-column {
        width: 20%; }
    /* line 97, ../../assets/stylesheets/main.sass */
    body .pagination-centered .main-title a {
      text-decoration: none;
      color: inherit; }
