$content-width: 50%

@mixin clear-link
  text-decoration: none
  color: inherit

@mixin post-image
  .post-img
    margin-bottom: 10px
    text-align: center
    margin:
      left: auto
      right: auto
    img
      max-width: 100%

@mixin post-title
  .post-title
    font-weight: bold
    display: block
    .post-title-text
      display: inline-block
      width: 79%
    .post-title-id
      display: inline-block
      width: 20%
      text-align: right

@mixin post-general
  text-align: left
  padding-bottom: 10px
  display: flex


@mixin main-post-part
  .main-post-part
    float: left
    display: inline-block
    background-color: white

@mixin post-side-panel
  .post-side-panel
    margin-left: 10px
    display: inline-block
    .side-panel-pic
      max-width: 100%
      padding-bottom: 10px
      img
        max-width: 100%

@mixin post
  .post
    @include main-post-part
    @include post-general
    @include post-image
    @include post-title
    @include post-side-panel

@mixin posts-list-footer
  .posts-list-footer
    font-weight: bold
    .bb-block a
      @include clear-link
      p
        display: inline-block
    .nanigation-panel
      padding-bottom: 10px

@mixin post-add-form
  .post-form
    .files-attach
      .file-input
        height: 100%

@mixin posts-list
  @include post
  @include post-add-form
  .posts-list
    margin: 0 0 auto (100% - ($content-width))/2
    width: $content-width/0.8
    .main-column
      width: 80%
    .side-column
      width: 20%

@mixin list-header
  h1
    margin: 15px auto

body
  background-color: #DFE3ED
  .pagination-centered
    @include list-header
    @include posts-list-footer
    @include posts-list
    text-align: center
    .main-title a
      @include clear-link
